/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
    margin-bottom: 50px;
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

#menu-top-nav{
	margin-bottom: 0;
}

#masthead nav ul li{
	float: left;
	padding: 0 5px;
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'open sans';
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

.homepage-featured-work{
	margin-left: 0;
	margin-bottom: 60px;
}

.individual-featured-work{
	float: left;
	width: 30%;
	list-style: none;
	margin: 0 15px 120px;
}

.homepage-featured-work{
	border: 1px solid #fff;
}

section.featured-work h4{
	text-align: center;
	font-size: 16.5px;
	margin: 20px 0 40px;
	text-transform: uppercase;
}

section.featured-work h3{
	text-align: center;
	font-size: 16.5px;
}

section.recent-posts{
	clear: both;
}

.blog-post {
	width: 50%;
}

.blog-post h4 {
	font-size: 16px;
	font-family: 'Montserrat';
	color: #a6a6a6;
	text-transform: uppercase;
	margin-top: 10px;
}

.blog-post h2 {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
}

.blog-post .read-more-link {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

/*Case Studies*/
article.case-study{
	margin: 40px 1px 1px;

}

aside.case-study-sidebar{
	float: left;
	width: 314px;
	margin: 0 38px 0 0;
}

aside.case-study-sidebar h4 {
	font-size: 17px;
}

aside.case-study-sidebar h5{
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    font-weight: normal;
    margin-top: 18px;
}

aside.case-study-sidebar h6 {
	font-size: 15px;
    font-weight: normal;
    margin: 15px 0 30px;
}

aside.case-study-sidebar a {
    font-weight: bold;
}

div.case-study-images{
	float: left;
	width: 606px;
}

div.case-study-images img{
	margin-bottom: 50px;
	border: 1px solid #ddd;
}


