/*
 Theme Name:   Accelerate Theme Child
 Theme URI:    http://example.com/accelerate-theme-child/
 Description:  Accelerate Child Theme - Accelerate
 Author:       Your Name!
 Author URI:   http://example.com
 Template:     accelerate-theme
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
    margin-bottom: 50px;
}

#masthead {
    background: none repeat scroll 0 0 #45ac9d;
}

#menu-top-nav{
	margin-bottom: 0;
}

#masthead nav ul li{
	float: left;
	padding: 0 5px;
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'open sans';
}

.button {
    background: none repeat scroll 0 0 #45ac9d;
}

.homepage-featured-work,
.homepage-services{
	margin-left: 0;
	margin-bottom: 60px;
	border: 1px solid #fff;
}

.individual-featured-work{
	float: left;
	width: 30%;
	list-style: none;
	margin: 0 15px 120px;
}

.individual-service{
	float: left;
	list-style: none;
	margin: 0 10px 120px;
}

section.featured-work h4,
section.services h4{
	text-align: center;
	font-size: 16.5px;
	margin: 20px 0 40px;
	text-transform: uppercase;
}

section.featured-work h3,
section.services h3{
	text-align: center;
	font-size: 16.5px;
}

section.recent-posts{
	clear: both;
}

.post-entry:last-child{
	margin-bottom: 0;
}

.blog-post {
	width: 45%;
	float: left;
	margin-bottom: 50px;
}

.read-more-link{
    font-size: 18px !important;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #45ac9d;
    text-transform: uppercase;
}

.blog-post h4,
.widget-title {
	font-size: 16px;
	font-family: 'Montserrat';
	color: #a6a6a6;
	text-transform: uppercase;
	margin-top: 10px;
}

.blog-post h2,
.twitterhandle {
	font-size: 24px;
	font-family: 'Montserrat';
	margin: 36px 0 12px;
	color: #3b3b3b;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 30px;
}

.blog-page .sidebar{
	border-left: none !important;
}

.blog-page .main-content{
	border-right: 1px solid #bfbfbf;
	width: 63%;
}

.widget{
	padding: 0;
}

.sidebar .widget{
	padding: 0;
	padding-left: 40px;
	border-bottom: 1px solid #BFBFBF;
}

.sidebar .widget:last-child{
	border-bottom: none;
}

.sidebar .widget ul{
	list-style: none;
	margin-left: 0;
	margin-bottom: 10px;
}

.tweets{
	margin-left: 0;
}

.blog-post .read-more-link {
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

.widget-area{
	width: 45%;
	float: right;
}

.widget-area li{
	list-style: none;
	font-weight: normal;
	font-family: 'open sans';
	font-size: 16.5px;
	line-height: 28px;
}

.sidebar .widget_search-form{
	border-bottom: none;
	margin-bottom: 40px;
}

.sidebar .widget-title{
	color: #45ac9d;
    font-weight: 600;
    font-size: 0.82em;
    text-transform: capitalize;
}

.sidebar .widget li img{
	border: none !important;
}

.navigation {
	border-top: none;
}

.menu-social-media-nav-container ul{
	margin: 0;
}

.social-media-navigation{
	width: 11.5%;
}

.social-media-menu{
	list-style: none;
}

.social-media-menu li{
	float: left;
	margin: 0 4px;
	font-size: 8px;
}

.social-media-menu a{
	color: #fff;
	background-color: #3b3b3b;
	border-radius: 50%;
	padding: 10px 6px 6px 8px;
}

#menu-item-14 a{
	padding: 10px 10px 6px 10px
}

/*Case Studies*/
article.case-study{
	margin: 40px 1px 1px;

}

aside.case-study-sidebar{
	float: left;
	width: 314px;
	margin: 0 38px 0 0;
}

aside.case-study-sidebar h4 {
	font-size: 17px;
}

aside.case-study-sidebar h5{
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    font-weight: normal;
    margin-top: 18px;
}

aside.case-study-sidebar h6 {
	font-size: 15px;
    font-weight: normal;
    margin: 15px 0 30px;
}

aside.case-study-sidebar a {
    font-weight: bold;
}

div.case-study-images{
	float: left;
	width: 606px;
}

div.case-study-images img{
	margin-bottom: 50px;
	border: 1px solid #ddd;
}

/*Contact form page*/

.page-content{
	width: 700px;
	margin: 0 auto;
}

#nf-field-1-container{
	width: 48.5%;
	display:inline-block;
	margin-right: 2%;
}

#nf-field-2-container{
	width: 48.5%;
	display:inline-block;
}

.nf-field-label label{
    font-weight: normal !important;
    font-size: 16px !important;
}

#nf-field-4{
	float: right;
	background: #45ac9d;
	font-size: 17px;
    color: white;
    font-weight: bolder;
    padding: 15px 60px;
    text-align: center;
    border: none;
}

/********************	About Page    *********************/
#about-primary{
	width: 100%;
	padding: 0;
}
#about-content{
	width: 100%;
}

.about-hero {
    background: url("img/taxi-photo.jpg") no-repeat scroll left bottom / cover rgba(0, 0, 0, 0);
    margin-bottom: 50px;
}

.about-hero h1{
	width: 700px;
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	padding: 100px 0;
	margin: 0 auto;
}

.green{
	color: #45ac9d;
}

.about-intro{
	margin-bottom: 80px;
}

.about-intro h4{
	text-transform: uppercase;
	font-size: 18px;
}

.about-intro h4,
.about-intro p{
	text-align: center;
}

.about-services{
	width: 850px;
	margin: 0 auto;
}

.title-description{
	width: 600px;
}

.title-description h3{
	margin-top: 0;
	margin-bottom: 20px;
}

.about-individual-service{
	margin-bottom: 70px;
}

.about-individual-service:nth-child(odd) .title-description{
	float: right;
}

.about-individual-service:nth-child(even) .title-description{
	float: left;
}

.about-contact{
	clear: both;
	margin: 0 auto;
	text-align: center;
	width: 960px;
	border-top: 1px dotted #e3e1e1;
    padding-top: 20px;
    margin-top: 40px;
}

.about-contact h2{
	display: inline-block;
	margin-right: 20px;
}

.about-contact .button{
	margin-left: 20px;
	padding: 15px 60px;
}

/********************	404 Page    *********************/

.main-404{
/*	width: 900px;*/
	clear: both;
	margin-top: 100px;
/*	margin-bottom: 200px;*/
}

.main-404 h2{
	font-size: 32px;
	margin-top: 0;
}

.main-404 p:last-child{
	margin-bottom: 225px;
}

.map-404{
	float: left;
	width: 175px;
}

.text-404{
	float: right;
	width: 475px;
}

.bold{
	font-weight: bold;
}

/********************	Newsletter    *********************/

#mc4wp-form-1{
	margin-top: 15px;
}

.newsletter-email{
	float: left;
}

